* {
    margin: 0;
    padding: 0;
}

#editor { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@width: 300px;
@topHeight:  46px;
@GWidth: 800px;
@GHeight: 600px;

.app {
    width: @GWidth;
    height: @GHeight;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-shadow: #0090f1 0 0 1px;

    .ant-table-thead th.ant-table-column-has-sorters {
        transition: none;
    }

    .row__desc {
        margin-left: 12px;
        margin-top: 12px;
        color: #ccc;
        font-size: 12px;
    }

    &__quote {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 43px;
        line-height: 0;
    }
    &__editor {
        z-index: 1;
        position: absolute;
        top: @topHeight;
        width: 100%;
        height: @GHeight - @topHeight;
        background-color: #fff;
    }
    &__setting {
        z-index: 2;
        position: absolute;
        top: @topHeight;
        width: 100%;
        height: @GHeight - @topHeight;
        background-color: #fff;
        padding: 0 16px;
    }
    &__resize {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 3px;
        cursor: ew-resize;
        &:hover {
            background-color: #0090f1;
        }
    }
    &__top {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: @topHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        background-color: #eee;
        box-shadow: #ccc 1px 1px 4px;
        &.active {
            background-color: #fefefe;
        }
        .ant-btn {
            transition: none;
        }
    }
    &__cont {
        margin-top: @topHeight;
        overflow-y: auto;
    }
}

.nav__item {
    position: relative;
    padding: 2px 16px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
    &.active {
        background-color: #ccc;
    }
    &.disable {
        color: #d9d9d9;
        &.active {
            color: #fff;
        }
    }
    &-close {
        position: absolute;
        display: none;
        right: 4px;
        top: 5px;
        background-color: #eee;
        color: red;
    }
    &:hover &-close {
        display: block;
    }
}


/*定义滚动条高宽及背景*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, .app::-webkit-scrollbar {
    width: 0;
}

  /*定义滚动条轨道*/
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

  /*定义滑块*/
::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
}

html.theme--dark {
    filter: invert(1) hue-rotate(180deg);
}
