.ti {
    height: 100%;
    margin-bottom: 8px;

    &__icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // 覆盖antd样式
    .ant-typography {
        margin-bottom: 0;
    }
    
    // 覆盖antd样式
    .ant-collapse-header.ant-collapse-header.ant-collapse-header {
        user-select: none;
        padding: 4px 8px;
    }
    
    // 覆盖antd样式
    .ant-collapse-content-box {
        padding: 0;
    }
    // 覆盖jsoneditor样式
    .jsoneditor-poweredBy {
        display: none;
    }
}
